# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore IDE and editor settings
.idea/
.vscode/

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore zip or archive files
*.zip
*.tar.gz
*.rar


.pre-commit-config.yaml
